/* body全体 */
body {
    font-family: sans-serif;
    color: #4c3725;
    background-color: #fdfdfd;
}

/* ヘッダ */
header {
    width: 960px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
}

header img {
    width: 67px;
}

header h2 {
    width: 100%;
    text-align: left;
}

/* スマホ用ヘッダ */
@media screen and (max-width: 960px) {
  header {
    width: 100%;
  }

  header img {
    width: 15%;
  }

  header h2 {
    width: 100%;
    text-align: left;
  }
} 

/*ゲームの画面切り替え、モーダル表示、要素の動的なON/OFFを制御するWeb制作の定番設定*/
.hidden {
    display: none !important;
}

/* メイン */
main {
    max-width: 960px;
    margin: 20px auto 40px auto;
    text-align: center;
    color: #5f5434;
    background-color: #f6ecdc;
    border: 1px solid #e9a02a;
    /*角を丸める*/
    border-radius: 50px;
}

/* スタート画面 */
#screen-start h1 {
    width: 100%;
    margin: 80px auto 20px auto;
    font-size: 50px;
    font-weight: bold;
}

#btn-start {
    margin: 20px auto 80px;
    background-color: #e9a02a;
    color:#f6ecdc;
    border: none;
}

#btn-start h3 {
    width: 100%;
    text-align: center;
    display: flex;
    margin: 20px 130px 20px 130px;
}

/* ステージ選択画面 */
#screen-stageselect h4 {
    width: 100%;
    margin: 80px auto 40px auto;
    text-align: center;
    font-size: 20px;
}

.stage-select {
    width: 100%;
    margin: 0px auto 80px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.stage-btn {
    background-color: #e9a02a;
    color:#f6ecdc;
    border: none;
}

.stage-select h3 {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
}

/* スマホ用ステージ選択画面 */
@media screen {
    .stage-btn{
        margin: 10px auto 10px auto;
    }
}

/* 本編 */
.question-number {
    max-width: 960px;
    text-align: center;
    background-color: #d2986a;
    /*上下に15px、左右に10pxの余白*/
    padding: 15px 10px;
    border-radius: 50px 50px 0 0;
}

/* 問題文 */
.question-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#question-text {
    width: 100%;
    margin: 40px auto 20px auto;
}

#question-image {
    width: 450px;
    max-width: 100%;
    margin: 0 auto 40px auto;
    text-align: center;
}

/* スマホ用問題文 */
@media screen and (max-width: 960px){
    #question-image{
        width: 80%;
        text-align: center;
    }
}

/* 選択肢 */
#options-grid {
    width: 100%;
    margin: 0 0 40px auto;
    flex: block;
    justify-content: flex-start;
}

#options-grid button{
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 14px 0;
    background-color: #f6ecdc;
    color: #e9a02a;
    border: solid 2px #e9a02a;
}

/* 解答と解説 */
#feedback-title {
    width: 100%;
    text-align: center;
}

#feedback-description {
    width: 80%;
    text-align: start;
    padding: 0 16px;
    margin: 20px auto 0 auto;
}

#btn-next {
    width: 30%;
    margin: 40px auto 40px;
    padding: 10px 20px;
    background-color: #e9a02a;
    color:#f6ecdc;
    border: none;
}

/* 結果画面 */
#screen-result h2 {
    margin: 60px auto 20px auto;
    font-size: 30px;
}

#result-score {
    font-size: 20px;
}

#btn-restart {
    margin: 40px 10px 60px auto;
    padding: 10px 20px;
    background-color: #e9a02a;
    color:#f6ecdc;
    border: none;
}

#btn-select {
    margin: 40px 10px 60px auto;
    padding: 10px 20px;
    background-color: #e9a02a;
    color:#f6ecdc;
    border: none;
}

/* フッター */
footer {
    text-align: center;
    color: #4d4535
}